*__pycache__*
venv/
.terraform
terraform.tfstate*
.terraform.lock.hcl
*.zip
terraform.tfvars


beautifulsoup4-4.11.1.dist-info/
bin/
boto3-1.24.80.dist-info/
boto3/
botocore-1.27.80.dist-info/
botocore/
bs4/
certifi-2022.9.24.dist-info/
certifi/
charset_normalizer-2.1.1.dist-info/
charset_normalizer/
dateutil/
idna-3.4.dist-info/
idna/
jmespath-1.0.1.dist-info/
jmespath/
packaging-21.3.dist-info/
packaging/
pyparsing-3.0.9.dist-info/
pyparsing/
python_dateutil-2.8.2.dist-info/
requests-2.28.1.dist-info/
requests/
s3transfer-0.6.0.dist-info/
s3transfer/
six-1.16.0.dist-info/
six.py
soupsieve-2.3.2.post1.dist-info/
soupsieve/
urllib3-1.26.12.dist-info/
urllib3/
